//@import 'mixins.scss';
$padding1: 0.5em;
$padding_Hoover: $padding1 + 0.2em;

.navBar {
  //display: grid;
  //grid-template-columns: repeat(12, 1fr);
  //grid-template-rows: 1fr;
  display: flex;
  grid-row: 2/3;
  grid-column: 1/13;
  list-style: none;
  margin-left: 0;
  //grid-gap: 0.2em;
  align-items: center;

  &_links {
    color: white;
    font-family: $header-fonts;
    align-items: center;
    text-align: center;
    font-size: medium;
    background-color: $black;
    padding-top: $padding1;
    padding-bottom: $padding1;
    transition: all 0.4s;
    & > * {
      color: white;
    }
    &:hover {
      background-color: $blue;
      padding-top: $padding_Hoover;
      padding-bottom: $padding_Hoover;
    }
    @media screen and (min-width: 400px) {
      font-size: large;
    }

    @media screen and (min-width: 600px) {
      font-size: larger;
    }
    @media screen and (min-width: 650px) {
      font-size: x-large;
    }
  }
}

.others {
  display: none;
  flex-grow: 4;
}
@media screen and (min-width: 500px) {
  .others {
    display: inherit;
    /*****/
    background-color: $black;
    height: 8.8vw;
    @media screen and (min-width: 508px) {
      height: 8.6vw;
    }
    @media screen and (min-width: 519px) {
      height: 8.5vw;
    }
    @media screen and (min-width: 521px) {
      height: 8.45vw;
    }
    @media screen and (min-width: 525px) {
      height: 8.4vw;
    }
    @media screen and (min-width: 528px) {
      height: 8.3vw;
    }
    @media screen and (min-width: 534px) {
      height: 8.2vw;
    }
    @media screen and (min-width: 541px) {
      height: 8.1vw;
    }
    @media screen and (min-width: 544px) {
      height: 8vw;
    }
    @media screen and (min-width: 554px) {
      height: 7.9vw;
    }
    @media screen and (min-width: 558px) {
      height: 7.8vw;
    }
    @media screen and (min-width: 569px) {
      height: 7.7vw;
    }
    @media screen and (min-width: 572px) {
      height: 7.6vw;
    }
    @media screen and (min-width: 584px) {
      height: 7.55vw;
    }
    @media screen and (min-width: 588px) {
      height: 7.5vw;
    }
    @media screen and (min-width: 591px) {
      height: 7.45vw;
    }
    @media screen and (min-width: 593px) {
      height: 7.4vw;
    }
    @media screen and (min-width: 595px) {
      height: 7.4vw;
    }
    @media screen and (min-width: 598px) {
      height: 7.35vw;
    }
    @media screen and (min-width: 600px) {
      height: 7.6vw;
    }
    @media screen and (min-width: 608px) {
      height: 7.55vw;
    }
    @media screen and (min-width: 611px) {
      height: 7.5vw;
    }
    @media screen and (min-width: 617px) {
      height: 7.45vw;
    }
    @media screen and (min-width: 621px) {
      height: 7.35vw;
    }
    @media screen and (min-width: 629px) {
      height: 7.3vw;
    }
    @media screen and (min-width: 633px) {
      height: 7.25vw;
    }
    @media screen and (min-width: 638px) {
      height: 7.2vw;
    }
    @media screen and (min-width: 641px) {
      height: 7.15vw;
    }
    @media screen and (min-width: 647px) {
      height: 7.1vw;
    }
    @media screen and (min-width: 650px) {
      height: 8.85vw;
    }
    @media screen and (min-width: 659px) {
      height: 8.8vw;
    }
    @media screen and (min-width: 663px) {
      height: 8.75vw;
    }
    @media screen and (min-width: 665px) {
      height: 8.7vw;
    }
    @media screen and (min-width: 671px) {
      height: 8.65vw;
    }
    @media screen and (min-width: 675px) {
      height: 8.6vw;
    }
    @media screen and (min-width: 678px) {
      height: 8.55vw;
    }
    @media screen and (min-width: 683px) {
      height: 8.5vw;
    }
    @media screen and (min-width: 683px) {
      height: 8.45vw;
    }
    @media screen and (min-width: 689px) {
      height: 8.4vw;
    }
    @media screen and (min-width: 694px) {
      height: 8.35vw;
    }
    @media screen and (min-width: 699px) {
      height: 8.3vw;
    }
    @media screen and (min-width: 703px) {
      height: 8.25vw;
    }
    @media screen and (min-width: 705px) {
      height: 8.2vw;
    }
    @media screen and (min-width: 711px) {
      height: 8.1vw;
    }
    @media screen and (min-width: 717px) {
      height: 8vw;
    }
    @media screen and (min-width: 728px) {
      height: 7.9vw;
    }
    @media screen and (min-width: 737px) {
      height: 7.8vw;
    }
    @media screen and (min-width: 748px) {
      height: 7.7vw;
    }
    @media screen and (min-width: 757px) {
      height: 7.65vw;
    }
    @media screen and (min-width: 763px) {
      height: 7.6vw;
    }
    @media screen and (min-width: 767px) {
      height: 7.55vw;
    }
    @media screen and (min-width: 773px) {
      height: 7.5vw;
    }
    @media screen and (min-width: 778px) {
      height: 7.4vw;
    }
    @media screen and (min-width: 794px) {
      height: 7.3vw;
    }
    @media screen and (min-width: 799px) {
      height: 7.25vw;
    }
    @media screen and (min-width: 802px) {
      height: 7.2vw;
    }
    @media screen and (min-width: 810px) {
      height: 7.1vw;
    }
    @media screen and (min-width: 822px) {
      height: 7vw;
    }
    @media screen and (min-width: 833px) {
      height: 6.9vw;
    }
    @media screen and (min-width: 846px) {
      height: 6.8vw;
    }
    @media screen and (min-width: 858px) {
      height: 6.7vw;
    }

    @media screen and (min-width: 871px) {
      height: 6.6vw;
    }
    @media screen and (min-width: 886px) {
      height: 6.5vw;
    }
    @media screen and (min-width: 898px) {
      height: 6.45vw;
    }
    @media screen and (min-width: 905px) {
      height: 6.4vw;
    }
    @media screen and (min-width: 912px) {
      height: 6.3vw;
    }
    @media screen and (min-width: 926px) {
      height: 6.2vw;
    }
    @media screen and (min-width: 941px) {
      height: 6.1vw;
    }
    @media screen and (min-width: 960px) {
      height: 6vw;
    }
    @media screen and (min-width: 972px) {
      height: 5.95vw;
    }
    @media screen and (min-width: 981px) {
      height: 5.9vw;
    }
    @media screen and (min-width: 990px) {
      height: 5.8vw;
    }
    @media screen and (min-width: 1000px) {
      height: 5.75vw;
    }
    @media screen and (min-width: 1015px) {
      height: 5.7vw;
    }
    @media screen and (min-width: 1024px) {
      height: 5.65vw;
    }
    @media screen and (min-width: 1033px) {
      height: 5.6vw;
    }
    @media screen and (min-width: 1042px) {
      height: 5.55vw;
    }

    @media screen and (min-width: 1045px) {
      height: 5.5vw;
    }
    @media screen and (min-width: 1064px) {
      height: 5.4vw;
    }
    @media screen and (min-width: 1084px) {
      height: 5.3vw;
    }
    @media screen and (min-width: 1101px) {
      height: 5.25vw;
    }
    @media screen and (min-width: 1104px) {
      height: 5.2vw;
    }
    @media screen and (min-width: 1122px) {
      height: 5.15vw;
    }
    @media screen and (min-width: 1133px) {
      height: 5.1vw;
    }
    @media screen and (min-width: 1144px) {
      height: 5.05vw;
    }
    @media screen and (min-width: 1148px) {
      height: 5vw;
    }
    @media screen and (min-width: 1168px) {
      height: 4.95vw;
    }
    @media screen and (min-width: 1179px) {
      height: 4.9vw;
    }
    @media screen and (min-width: 1190px) {
      height: 4.85vw;
    }
    @media screen and (min-width: 1200px) {
      height: 4.8vw;
    }
    @media screen and (min-width: 1215px) {
      height: 4.75vw;
    }
    @media screen and (min-width: 1228px) {
      height: 4.7vw;
    }
    @media screen and (min-width: 1241px) {
      height: 4.65vw;
    }
    @media screen and (min-width: 1250px) {
      height: 4.6vw;
    }
    @media screen and (min-width: 1268px) {
      height: 4.55vw;
    }
    @media screen and (min-width: 1282px) {
      height: 4.5vw;
    }
    @media screen and (min-width: 1296px) {
      height: 4.45vw;
    }
    @media screen and (min-width: 1310px) {
      height: 4.4vw;
    }
    @media screen and (min-width: 1326px) {
      height: 4.35vw;
    }
    @media screen and (min-width: 1333px) {
      height: 4.32vw;
    }
    @media screen and (min-width: 1337px) {
      height: 4.3vw;
    }
    @media screen and (min-width: 1355px) {
      height: 4.25vw;
    }
    @media screen and (min-width: 1373px) {
      height: 4.2vw;
    }
    @media screen and (min-width: 1389px) {
      height: 4.15vw;
    }
    @media screen and (min-width: 1406px) {
      height: 4.1vw;
    }
  }
}
@media screen and (min-width: 900px) {
  // @include gridForNavLinks($mod3: 1, $mod2: 1);
}
