//colors Scheme
$light-gray:#bababa;
$gray:#8d8d8d;
$light-blue:#a6cbeb;
$blue:#4c96d7;
$black:#3a3a3a;
$white:#fffffF;

//Family-Fonts
$header-fonts: 'Teko', sans-serif;
$paragraph-fonts: 'Source Code Pro', monospace;

