@import '../template/settings.scss';

.content {
  &_upload {
    grid-template-rows: 0.01fr 1fr repeat(9, 0.1rem) 0.02fr;
    @media screen and (min-width: 700px) {
      grid-template-rows: 0.1fr 0.65fr repeat(9, 0.5fr) 0.02fr;
    }
    @media screen and (min-width: 800px) {
      grid-template-rows: 0.1fr 0.65fr repeat(9, 0.5fr) 0.02fr;
      max-width: 85%;
      margin: 0 auto;
      border: 8px solid #4c96d7;
      border-radius: 0.5em 0.5em;
    }
  }
}
.main {
  display: flex;
  grid-row: 2/12;
  flex-direction: column;
}

.title {
  font-size: 2em;
  font-weight: 400;
  text-align: center;

  @media screen and (min-width: 900px) {
    font-size: 2.5em;
  }
}
.h2 {
  font-size: 1.5em;
  font-family: $header-fonts;
  font-weight: 200;
  margin-left: 2em;
  @media screen and (min-width: 900px) {
    font-size: 2em;
  }
}
.form_upload {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  @media screen and (min-width: 700px) {
    margin: auto 20%;
  }
  @media screen and (min-width: 800px) {
    margin: auto 25%;
  }
}
.label {
  font-family: $paragraph-fonts;
  font-weight: 600;
  @media screen and (min-width: 700px) {
    font-size: large;
  }
  @media screen and (min-width: 900px) {
    font-size: x-large;
    font-weight: 400;
  }
}
.fieldset {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
}
.options {
  display: flex;
  align-items: center;
  justify-content: center;
}

.select_classification {
  display: flex;
  font-family: 'Source Code Pro', monospace;
  font-size: medium;
  align-items: center;
  background-color: #ffffff;
  appearance: none;
  text-align: center;
  font-weight: 600;
  cursor: pointer;
  width: 100%;
  height: 2em;
  &:hover {
    font-size: large;
  }
  @media screen and (min-width: 700px) {
    font-size: large;
    font-weight: 400;
  }
  &:hover {
    font-weight: 600;
  }
  @media screen and (min-width: 900px) {
    font-size: x-large;
    font-weight: 400;
  }
  &:hover {
    font-weight: 600;
    font-size: x-large;
  }
}

.button {
  background-color: $light-blue;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  font-size: large;
  margin-left: 0.8rem;
  cursor: pointer;
  appearance: none;
  border: 0.2rem solid $blue;
  border-radius: 0.5rem;
  &:hover {
    background-color: $blue;
    border: 0.2rem solid $light-blue;
  }
  @media screen and (min-width: 768px) {
    grid-column: 1/13;
  }
  @media screen and (min-width: 900px) {
    grid-column: 1/13;
    font-size: large;
    font-weight: 800;
    grid-row: 9/10;
  }
  @media screen and (min-width: 1000px) {
    grid-column: 1/13;
    font-size: larger;
  }
}

.display_error {
  text-align: center;
  color: red;
  font-weight: 500;
  margin-left: 0.8em;
  @media screen and (min-width: 900px) {
    font-size: x-large;
  }
  @media screen and (min-width: 1200px) {
    font-size: 170%;
  }
}

.display_sucess {
  @extend .display_error;
  color: $black;
}

.p {
  font-family: $paragraph-fonts;
  font-size: larger;
}
.display_image {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1em;
  padding: 0em;
  @media screen and (min-width: 750px) {
    flex-direction: row;
    justify-content: center;
  }
}
.individual_image {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-self: center;

  @media screen and (min-width: 750px) {
    width: 20%;
  }
}
.hr {
  border: 0.5em solid $black;
  width: 90%;
  display: flex;
}
.footer {
  grid-row-start: 12;
  display: flex;
  flex-direction: column;
  grid-template-columns: none;
  grid-template-rows: none;
}
