// stylesheet for the register view

@import '../template/settings.scss';
@import '../login/style.scss';

.content {
  grid-template-rows: 0.5fr 0.4fr 1fr 1fr 0.8fr;
}

.header {
  grid-row: 1/2;
}

.main {
  grid-row: 2/5;
}

.form {
  grid-row: 2/10;
  grid-template-columns: repeat(12, 0.5fr);
}

[class*='label'] {
  margin-top: 0.8rem;
  grid-column: $grid-column;
  &:after {
    content: '*';
    color: red;
  }
}

.label_Firstname {
  grid-row: 1/2;
}
.label_Lastname {
  grid-row: 3/4;
}
.label_email {
  grid-row: 5/6;
}
.label_pass {
  grid-row: 7/8;
}

[class*='input'] {
  &:invalid {
    background-color: pink;
  }
  &:focus,
  &:hover {
    font-weight: 600;
    background-color: $light-blue;
  }
}
.input_Firstname {
  grid-row: 2/3;
}
.input_Lastname {
  grid-row: 4/5;
}
.input_email {
  grid-row: 6/7;
}

.input_pass {
  grid-row: 8/9;
}
.display_error {
  font-weight: 600;
  margin-left: 0.8em;
  grid-row: auto;
}

.button {
  grid-column: 1/13;
  grid-row: 10/11;
  margin-bottom: 1rem;
  margin-top: 1rem;
  appearance: none;
  cursor: pointer;
  @media screen and (min-width: 900px) {
    font-weight: 600;
  }
  @media screen and (min-width: 1000px) {
    grid-column: 1/13;
    font-size: large;
  }
}
.instructions {
  display: none;
  grid-column: 1/13;
  text-align: center;
  align-items: center;
  color: $blue;
  font-weight: 400;
  margin-left: 0.8em;
  @media screen and (min-width: 900px) {
    grid-column: 1/13;
  }
}

.footer {
  grid-row: 5/6;
}
