.header {
  grid-row: 1/2;
}

.main {
  display: grid;
  grid-template-columns: repeat(12, 0.5fr);
  grid-template-rows: 0.25fr 0.5fr 0.4fr 0.2fr repeat(2, 0.5fr);
  grid-column: 1/13;
  grid-row: 2/12;
}
@media screen and (min-width: 355px) {
  .main {
    grid-template-rows: 0.4fr 0.5fr 0.4fr 0.2fr repeat(2, 0.5fr);
  }
}
@media screen and (min-width: 400px) {
  .main {
    grid-template-rows: 0.5fr 0.5fr 0.4fr 0.2fr repeat(2, 0.5fr);
  }
}
@media screen and (min-width: 465px) {
  .main {
    grid-template-rows: 0.5fr 0.65fr 0.4fr 0.1fr repeat(2, 0.5fr);
  }
}
@media screen and (min-width: 600px) {
  .main {
    grid-template-rows: 0.7fr 0.7fr 0.4fr 0.2fr repeat(2, 0.5fr);
  }
}
@media screen and (min-width: 900px) {
  .main {
    grid-template-rows: 0.7fr 0.7fr 0.3fr 0.2fr repeat(1, 0.5fr);
  }
}

.product_wrapper {
  display: grid;
  grid-row: 1/3;
  grid-column: 1/13;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(14, 0.2fr);
  background-image: url("../../../phpmotors/images/vehicles/delorean.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-y: 3.5em;
  background-position-x: 1.2em;
}
@media screen and (min-width: 400px) {
  .product_wrapper {
    grid-template-rows: repeat(12, 0.2fr);
    background-position-y: 4em;
  }
}
@media screen and (min-width: 555px) {
  .product_wrapper {
    background-position-y: 2.5em;
  }
}
@media screen and (min-width: 600px) {
  .product_wrapper {
    background-size: 100%;
    background-position-x: 1.5em;
  }
}
@media screen and (min-width: 630px) {
  .product_wrapper {
    background-size: 100%;
    background-position-y: 7.5em;
    background-position-x: 1em;
  }
}
@media screen and (min-width: 840px) {
  .product_wrapper {
    background-position-y: 5em;
  }
}
@media screen and (min-width: 900px) {
  .product_wrapper {
    background-position-y: 7em;
  }
}
@media screen and (min-width: 1000px) {
  .product_wrapper {
    background-size: 95%;
    background-position-y: 8em;
    background-position-x: 4em;
  }
}
@media screen and (min-width: 1090px) {
  .product_wrapper {
    background-position-y: 7em;
  }
}
@media screen and (min-width: 1132px) {
  .product_wrapper {
    background-position-y: 6em;
  }
}
@media screen and (min-width: 1160px) {
  .product_wrapper {
    background-size: 90%;
    background-position-y: 7em;
  }
}
@media screen and (min-width: 1192px) {
  .product_wrapper {
    background-position-y: 5em;
  }
}
@media screen and (min-width: 1270px) {
  .product_wrapper {
    background-size: 85%;
    background-position-x: 9em;
  }
}
@media screen and (min-width: 1300px) {
  .product_wrapper {
    background-position-y: 3em;
  }
}
@media screen and (min-width: 1320px) {
  .product_wrapper {
    background-size: 85%;
    background-position-y: 4em;
    background-position-x: 6em;
  }
}

.product_title {
  grid-column: 1/13;
  grid-row: 1/2;
  font-size: x-large;
  font-family: "Teko", sans-serif;
  padding: 0em;
  margin-bottom: 0em;
  margin-top: 0.35em;
}
@media screen and (min-width: 465px) {
  .product_title {
    font-size: xx-large;
  }
}
@media screen and (min-width: 630px) {
  .product_title {
    font-size: 200%;
  }
}
@media screen and (min-width: 630px) {
  .product_title {
    margin-left: 0.5em;
  }
}
@media screen and (min-width: 900px) {
  .product_title {
    font-size: 250%;
  }
}
.product_description {
  display: grid;
  grid-row: 2/3;
  grid-column: 1/13;
  margin: 0em;
  color: #4c96d7;
}
@media screen and (min-width: 630px) {
  .product_description {
    grid-column: 1/5;
    margin-left: 2em;
  }
}
@media screen and (min-width: 1000px) {
  .product_description {
    grid-column: 1/5;
    margin-left: 2.5em;
  }
}
.product_buttom {
  grid-row: 12/15;
  grid-column: 4/10;
  font-family: "Source Code Pro", monospace;
  color: #3a3a3a;
  font-size: larger;
  font-weight: 800;
  appearance: none;
  background-color: #4c96d7;
  border-left: 1.2px solid #8d8d8d;
  border-right: 1.2px solid #8d8d8d;
  border-bottom: 1.5px solid #3a3a3a;
  border-top: 1.2px solid #8d8d8d;
}
@media screen and (min-width: 400px) {
  .product_buttom {
    grid-row: 11/13;
  }
}
@media screen and (min-width: 550px) {
  .product_buttom {
    font-size: 110%;
  }
}
@media screen and (min-width: 600px) {
  .product_buttom {
    font-size: 100%;
  }
}
@media screen and (min-width: 630px) {
  .product_buttom {
    grid-column: 1/5;
    grid-row: 4/5;
    margin-right: 0.5em;
    margin-left: 2em;
  }
}
@media screen and (min-width: 700px) {
  .product_buttom {
    margin-right: 2em;
  }
}
@media screen and (min-width: 770px) {
  .product_buttom {
    margin-right: 2.7em;
  }
}
@media screen and (min-width: 830px) {
  .product_buttom {
    margin-right: 3.4em;
  }
}
@media screen and (min-width: 841px) {
  .product_buttom {
    margin-right: 4.8em;
  }
}
@media screen and (min-width: 940px) {
  .product_buttom {
    grid-column: 1/5;
    margin-right: 5em;
    margin-left: 2em;
  }
}
@media screen and (min-width: 950px) {
  .product_buttom {
    margin-right: 6.5em;
  }
}
@media screen and (min-width: 1000px) {
  .product_buttom {
    font-size: larger;
    grid-column: 1/5;
    grid-row: 4/5;
    margin-top: 0em;
    margin-left: 1.9em;
    margin-right: 1.9em;
  }
}
@media screen and (min-width: 1090px) {
  .product_buttom {
    margin-right: 2em;
  }
}
@media screen and (min-width: 1090px) {
  .product_buttom {
    margin-right: 3em;
  }
}
@media screen and (min-width: 1150px) {
  .product_buttom {
    margin-right: 4em;
  }
}
@media screen and (min-width: 1180px) {
  .product_buttom {
    grid-column: 1/4;
    margin-right: 0em;
  }
}
@media screen and (min-width: 1220px) {
  .product_buttom {
    grid-column: 1/4;
    margin-right: 1em;
  }
}
@media screen and (min-width: 1300px) {
  .product_buttom {
    margin-right: 1.5em;
  }
}
@media screen and (min-width: 1350px) {
  .product_buttom {
    margin-right: 2em;
  }
}
@media screen and (min-width: 1370px) {
  .product_buttom {
    margin-right: 2.2em;
  }
}

.description_title {
  margin: 0em;
  font-family: "Source Code Pro", monospace;
  font-size: 95%;
  font-weight: bolder;
}
@media screen and (min-width: 465px) {
  .description_title {
    font-size: 110%;
  }
}
@media screen and (min-width: 630px) {
  .description_title {
    font-size: 150%;
  }
}
@media screen and (min-width: 1000px) {
  .description_title {
    font-size: 200%;
  }
}
.description_text {
  margin: 0em;
  font-family: "Source Code Pro", monospace;
  font-size: 80%;
  font-weight: 500;
}
@media screen and (min-width: 465px) {
  .description_text {
    font-size: 85%;
  }
}
@media screen and (min-width: 630px) {
  .description_text {
    font-size: 110%;
  }
}
@media screen and (min-width: 1000px) {
  .description_text {
    font-size: 150%;
    font-weight: 600;
  }
}

.characteristics {
  grid-row: 3/5;
  grid-column: 1/13;
}
@media screen and (min-width: 465px) {
  .characteristics {
    grid-row: 3/6;
  }
}
@media screen and (min-width: 950px) {
  .characteristics {
    grid-column: 1/8;
  }
}
.characteristics_Title {
  font-family: "Teko", sans-serif;
  font-weight: bolder;
  font-size: x-large;
  margin-bottom: 0.5em;
}
@media screen and (min-width: 600px) {
  .characteristics_Title {
    font-size: x-large;
  }
}
@media screen and (min-width: 800px) {
  .characteristics_Title {
    font-size: 200%;
  }
}
.characteristics_wrapper {
  margin: 0em;
  padding: 0em;
  padding-left: 1.5em;
}
.characteristics_item {
  font-family: "Source Code Pro", monospace;
  font-size: small;
}
@media screen and (min-width: 400px) {
  .characteristics_item {
    margin-bottom: 0.6em;
  }
}
@media screen and (min-width: 600px) {
  .characteristics_item {
    font-size: medium;
  }
}
@media screen and (min-width: 800px) {
  .characteristics_item {
    margin-bottom: 0.8em;
  }
}
@media screen and (min-width: 900px) {
  .characteristics_item {
    margin-bottom: 1em;
  }
}
@media screen and (min-width: 1000px) {
  .characteristics_item {
    font-size: large;
  }
}
@media screen and (min-width: 1200px) {
  .characteristics_item {
    font-size: larger;
  }
}

.Upgrades {
  display: grid;
  grid-row: 5/7;
  grid-column: 1/13;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 0.2fr 1fr 0.5fr 1fr 0.2fr;
  column-gap: 0.5em;
}
@media screen and (min-width: 900px) {
  .Upgrades {
    grid-column: 8/13;
    grid-row: 3/5;
  }
}
.Upgrades_titles {
  grid-row: 1/2;
  grid-column: 1/3;
  font-family: "Teko", sans-serif;
  font-size: x-large;
  font-weight: bold;
}
@media screen and (min-width: 600px) {
  .Upgrades_titles {
    font-size: x-large;
  }
}
@media screen and (min-width: 900px) {
  .Upgrades_titles {
    font-size: xx-large;
  }
}
.Upgrades_wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  background-color: #a6cbeb;
}

.capacitor_wrapper {
  grid-column: 1/2;
  grid-row: 2/3;
}

.flame_wrapper {
  grid-column: 2/3;
  grid-row: 2/3;
}

.bumper_wrapper {
  grid-column: 1/2;
  grid-row: 4/5;
}

.hub_wrapper {
  grid-column: 2/3;
  grid-row: 4/5;
}

.wr_blue {
  background-color: #a6cbeb;
  text-align: center;
  border: 0.5px solid #3a3a3a;
}

.Upgrades_text {
  font-family: "Source Code Pro", monospace;
  text-decoration: underline;
  font-size: small;
  text-align: center;
  margin-bottom: 2em;
  cursor: pointer;
}
@media screen and (min-width: 400px) {
  .Upgrades_text {
    font-size: medium;
  }
}
@media screen and (min-width: 600px) {
  .Upgrades_text {
    font-size: large;
  }
}
@media screen and (min-width: 900px) {
  .Upgrades_text {
    font-size: larger;
  }
}

[class*=img] {
  padding-top: 0.7em;
}

/*# sourceMappingURL=style.css.map */
